*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    /* background-color: thistle; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
#main{
    height: 75%;
    width: 100%;
    /* background-color: turquoise; */
    display: flex;
}

#left-side{
    width: 60%;
    height: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: beige; */
}

#right-side{
    width: 40%;
    height: 100%;
    /* background-color: blueviolet; */
}
#poster{
    width: 100%;
    height: 100%;
}

#logo-img{
    width: 200px;
}
#login-btn{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 110px;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    border: 0px solid white;
}

#signup-btn{
    background-color: black;
    color: white;
    width: 110px;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    border: 0px solid black;
}
#login-btn:hover, #signup-btn:hover{
    cursor: pointer;
}
#login-btn:hover{
    color: rgb(255, 123, 0);
}
#header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(186, 160, 210); */
}
#left-main-content{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
#heading-left{
    font-size: 40px;
    margin-bottom: 1%;
    
    color: rgba(0, 0, 0, 0.837);
}
#sub-heading-1{
    font-size: 21px;
    margin-bottom: 2%;
    color: rgba(0, 0, 0, 0.669);
}
#sub-heading-2, #sub-heading-3{
    color: rgba(0, 0, 0, 0.39);
}
#text-fields{
    width: 60%;
    height: 50px;
    border-radius: 0%;
    border: 0px solid rgba(0, 0, 0, 0.39);
    outline:1px solid rgba(0, 0, 0, 0.39);
    font-size: 15px;
    padding-left: 15px;
}
#text-fields:focus{
    outline:1px solid rgb(255, 123, 0);
}
#text-fields::placeholder{
    color: rgba(0, 0, 0, 0.39);
}


#search-btn{
    background-color: rgb(255, 123, 0);
    color: white;
    width: 110px;
    height: 51.5px;
    font-size: 18px;
    font-weight: 400;  
    border: 0px; 
}
#search-btn:hover{
    cursor: pointer;
}
#text-search{
    width: 100%;
    /* height: 100px; */
    /* background-color: aquamarine; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 2%;
}