*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
header{
    height: 15vh;
    width: 100%;
    padding: 0vh 10vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 100%;
    /* background-color: violet; */
}

.mergingSeaerchBarAndBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.searchBar, .searchBtn {
    border: 0px;
    height: 10vh;
    background-color: transparent;
}
.searchBar{
    width: 30vw;
    font-size: 1.4vw;
    padding-left: 1vh;
    outline: 2px solid black;
}
.searchBar:focus{
    outline: 2px solid rgb(0, 102, 255);
}
.searchBtn, .logo, .userIcon{
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}
.searchBtn:hover, .logo:hover, .userIcon:hover{
    cursor: pointer;
    scale: 1.1;
}
.searchBtnImg{
    height: 100%;
}
.userIcon{
    height: 10vh;
}